PIL==9.4.0
geopandas==0.13.2
matplotlib==3.7.1
numpy==1.25.2
pandas==2.0.3
plotly==5.15.0
requests==2.31.0
session_info==1.0.0
streamlit==1.33.0
streamlit_option_menu
IPython==7.34.0
jupyter_client==6.1.12
jupyter_core==5.7.2
notebook==6.5.5
